
    {% extends "base.html" %}
    {% block content %}
    {% load static %}

<section>
    <div  style="background-image: url('{% static "img/techworld.jpg"%}');" >
        <div class="uspacing" ></div>
        <h1 style="color:white; background-color: #071d5a93; " ><strong>WorldNet </strong></h1>
        <h3 style="color:white ; background-color: #071d5a93;">Need Speed? you will get it indeed!</h3>
        <div class="uspacing" ></div>
    </div>
  </div>
</section>   
<section class="features ">
    
    <h2 >
        <br>
        <strong>Features</strong>
    </h2>
    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4" style ="border:none ; margin:4em 0em">
                <h5 class=""><strong>Fastest Internet</strong><strong><br></strong></h5>
                <p class="">Get the fastest internet with WorldNet even during the peak hours. Don’t let your internet network restrict your high-speed surfing&nbsp;<br></p>
            </div>
            <div class="card col-12 col-md-6 col-lg-4" style="border:none ; margin:4em 0em ;">
                <h5 class="card-title mbr-fonts-style display-7"><strong>Reliable Hardware</strong></h5>
                <p class="card-text mbr-fonts-style display-7">We provide only quality hardware which are very user friendly and easy to set up. Reliable internet calls for reliable hardware too.&nbsp;<br></p>
            </div>
            <div class="card col-12 col-md-6 col-lg-4" style="border:none ; margin:4em 0em">
                <h5 class="card-title mbr-fonts-style display-7"><strong>Dedicated Support</strong></h5>
                <p class="card-text mbr-fonts-style display-7">Our technical support engineers will assist you during each step from installation to network diagnostics. Expect better service, better internet with WorldNet.&nbsp;<br></p>
            </div>
        </div>
    </div>
</section>

<section  style="padding:2em ; background-image: url('{% static "img/background3.jpg"%}');" >
<div class="container" >  
        <h2 > <br> <strong>Our Plans</strong></h2>
        <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Featured Internet Plans</h5>
    </div>
    <div class="row mt-4 ">
        <div class="col-lg-3"></div>
        <div class="item  features-image сol-6 col-md-4 col-lg-2" style="margin:4em 0em">
            <div class="plan-card">
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-5">Basic</h5>
                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>$ 39.98/month</strong></h6>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Download: 75 M
                    <br>Upload: 10 M
                    <br>Activation Fee: $ 69.95
                    <br>Shipping Charges: $ 0
                    <br>Term: NO</p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                <a href="/ordering" class="btn item-btn btn-primary display-7" target="_blank">Oreder</a></div>
            </div>
        </div>
        
        <div class="item features-image сol-6 col-md-4 col-lg-2" style="margin:4em 0em">
            <div class="plan-card">
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-5">Advanced</h5>
                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>$ 39.98</strong><strong>/month</strong></h6>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Download: 150 M
                    <br>Upload: 15 M
                    <br>Activation Fee: $ 39.95
                    <br>Shipping Charges: $ 0
                    <br>Term: NO<br>
                    </p>
                </div>
                <div class="mbr-section-btn item-footer mt-2"><a href="/ordering" class="btn btn-primary item-btn display-7" target="_blank">Oerder</a></div>
            </div>
        </div>
        
        <div class="  сol-6 col-md-4 col-lg-2" style="margin:4em 0em">
            <div class="plan-card" >
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-5">Extra</h5>
                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>$ 69.98</strong><strong>/month</strong></h6>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">Download: 500 M
                    <br>Upload: 20 M
                    <br>Activation Fee: $ 69.95
                    <br>Shipping Charges: $ 0
                    <br>Term: NO</p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a href="/ordering" class="btn btn-primary item-btn display-7" target="_blank">Order</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>

    </div>
</div>

</section>

    
    
<div class="container-fluid">
    <div class="mbr-section-head">
        <h4 >
            <strong>Testimonial</strong></h4>
        
    </div>
    <div class="row mt-4">
        <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
                <div class="item-img">
                    <img src="{% static 'img/teenonvchat-1139x759.jpg' %}" width="100%" alt=""> 
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-7">
                        <strong>Reliable</strong>
                    </h5>
                    
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">If you are looking for the best bang for your buck than I would suggest WorldNet to you. Basically a small independent internet provider. They state that it is their mission to provide people in Canada with affordable internet, and I truly believe that. For my sake, I hope they continue to do well and grow in Canada.
                        <br>
                        <br>Scott Midleto
                        <br>
                    </p>
                </div>
                
            </div>
        </div>
        <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
                <div class="item-img">
                    <img src="{% static 'img/youngladystudy.jpg' %}"  width="100%" alt="">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-7">
                        <strong>Perfect Support!!</strong>
                    </h5>
                    
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">I have NEVER had an issue with WorldNet as of this date. Customer service for me has always been stellar. Whenever I've had an issue with a plans or payments I've received prompt communication and service.
                        <br>
                        <br>Jennifer Reed
                    </p>
                </div>
                
            </div>
        </div>
        <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
                <div class="item-img">
                    <img src="{% static 'img/youngmanvideochat-1139x759.jpg ' %}"  width="100%" alt="">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-7">
                        <strong>Great Team!</strong>
                    </h5>
                    
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">I signed up with WorldNet last year and I am satisfied with their internet services. I have had to replace my modem because it stopped working. I called them and the service rep wanted to run some diagnostics to see what was wrong with the modem, but after telling them that the modem just did not turn on they sent a return label and I received a new modem within a few days.
                        <br>
                        <br>Edward Hills
                    </p>
                </div>
                
            </div>
        </div>
        
    </div>
</div>




<div style="height:20em ;"></div>


   {% endblock %}